*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.banner{
    background-color: #EBA61F;
    width: 100vw;
    height: 100vh;
}
.banner img{
    width: 40%;
}