*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: fantasy;
}
html{
    scroll-behavior: smooth;
}
.banner{
    background-color: #EBA61F;
    width: 100vw;
    height: 100vh;
}
.banner img{
    width: 40%;
}
.banner h2{
    color: #295507;
    font-weight: bold;
    font-size: 60px;
    
}