/* @import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap'); */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gravitas One', cursive;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #EBA61F;
}

.banner{
    display: flex;
    width: 100%;
}
.image img{
    width: 100%;
}
.text h2{
    color: #467885;
    font-size: 60px;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-left: 200px;
}
.text p{
    margin-left: 200px;
}
.confirm{
    background-color: #467885;
    height: 2%;
    width: 13%;
    outline: none;
    border: none;
    color: white;
    margin-top: 200px;
}